<input type="hidden" id="userId" value="{{userId}}">

<script type="text/javascript">


var val = document.getElementById('boardNumber').value;
var no = document.getElementById('no').value;

   if (val !== null) {
      alert('게시글을 삭제되었습니다');
      location.href='/deleteBoardProc/' + val;
   }
   else {
      alert('이전페이지로 돌아갑니다');
      location.href='javascript:history.back()';
   }
</script>