
{{#userId}}
    <input type="hidden" id="userId" value="ID : {{userId}}">
{{/userId}}
{{^userId}}
    <input type="hidden" id="userId" value="일치하는 닉네임이 없습니다">
{{/userId}}

<script type="text/javascript">

    var val = document.getElementById('userId').value;

    alert(val);

    location.href='/login';

</script>