<!DOCTYPE HTML>
<html>
<head>
    <title>게시판 조회</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>게시판 조회</h1>
<form action="/modifyBoard/{{board.boardNumber}}" method="POST">

    <h2>제목</h2>
    <input type="text" name="boardTitle" value="{{board.boardTitle}}">
    <h2>내용</h2>
    <textarea name="boardContent">{{board.boardContent}}</textarea>
    <br>
    <input type="submit" value="전송">
    <input type="reset" value="초기화">
</form>
<br>
</body>
</html>