{{>layout/header}}
<!-- Title -->
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text-center">
    <h1>가입 유형 선택</h1>
</div>
<!-- End Title-->

<!-- Card -->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <a class="btn btn-danger" href="/signup">일반 회원</a>
            <a class="btn btn-primary" href="/signupManager">판매자 회원</a>
        </div>
    </div>
</section>


<br>
<br>
<br>
<br>
<br>
<br>
<!-- End Card -->

</body>
</html>