{{>layout/header}}

<br><br><br>

<!-- Title -->
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-lg-9 col-xl-7">
                <div class="card rounded-3">
                    <div class="card-body p-4">

                        <h4 class="text-center my-3 pb-3">To Do App</h4>

                        <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
                            <div class="col-12">
                                <div class="form-outline">
                                    <input type="text" id="form1" class="form-control"/>
                                    <label class="form-label" for="form1">목표를 입력해주세요</label>
                                </div>
                            </div>

                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary">등록</button>
                                <a type="submit" class="btn btn-secondary">달성 성공</a>
                            </div>

                        </form>

                        <table class="table mb-4">
                            <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">할 일</th>
                                <th scope="col">등록일</th>
                                <th scope="col">상태 설정</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Buy groceries for next week</td>
                                <td>In progress</td>
                                <td>
                                    <button type="submit" class="btn btn-danger">삭제</button>
                                    <button type="submit" class="btn btn-success ms-1">완료</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Buy groceries for next week</td>
                                <td>In progress</td>
                                <td>
                                    <button type="submit" class="btn btn-danger">삭제</button>
                                    <button type="submit" class="btn btn-success ms-1">완료</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- End Card -->

</body>
</html>