{{>layout/header}}
<body>

<br><br><br><br><br><br>
<div class="container text-center">
    <br>
    <div class="row">

        <div class="col-3"></div>
        <!-- Pills navs -->
        <div class="col-6">

            <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" role="tab"
                       aria-controls="pills-login" aria-selected="true">판매 물품 사진</a>
                </li>
            </ul>
            <!-- Pills content -->
            <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                <!-- Email input -->
                {{#shop}}
                    <div class="form-outline mb-3">
                        <input type="image" src="/img/{{id}}/{{fileUuid}}" style="max-width: 636px; height: 100%;">
                    </div>
                    <p class="text-center">
                        <button class="btn btn-primary me-2" disabled>제목</button>
                    </p>

                    <div class="form-outline mb-4">
                        <input type="text" id="loginName" name="boardTitle" class="form-control text-center"
                               value="{{shopTitle}}" disabled/>
                    </div>

                    <p class="text-center">
                        <button class="btn btn-primary me-2" disabled>내용</button>
                    </p>

                    <div class="form-outline mb-3">
                        <textarea rows="10px" name="boardContent" class="form-control text-center"
                                  disabled>{{shopContent}}</textarea>
                    </div>
                    <p class="text-center">
                        <button class="btn btn-primary me-2" disabled>판매 가격</button>
                    </p>

                    <div class="form-outline mb-3">
                        <input type="text" id="loginName" name="boardTitle" class="form-control text-center"
                               value="{{shopPrice}}원" disabled/>
                    </div>
                    <div class="form-outline mb-3">
                        <input type="text" id="loginName" name="boardTitle" class="form-control text-center"
                               value="남은 상품 : {{shopAmount}}" disabled/>
                    </div>
                    {{#check}}
                        <div class="form-outline mb-4">
                            <input type="text" name="shopAmount" class="form-control text-center" value="{{shopAmount}}개 남아있습니다" disabled/>
                        </div>
                        <div class="form-outline mb-3">
                            <a class="btn btn-success" href="/shop/modifyShop/{{shopNumber}}">글 수정</a>
                            <a class="btn btn-danger" href="/shop/deleteShop/{{shopNumber}}">글 삭제</a>
                            <a class="btn btn-primary" onclick="location.href='/shop/sell'">돌아가기</a>
                        </div>
                    {{/check}}
                    {{^check}}
                        <form action="/shop/buy/{{shopNumber}}" method="post">
                            <div class="form-outline mb-3">
                                <div class="form-outline mb-4">
                                    <input type="text" name="shopAmount" class="form-control text-center"
                                           placeholder="구매 수량을 입력해주세요"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                                </div>
                            </div>

                            <div class="form-outline mb-3">
                                <button class="btn btn-success" type="submit">구매하기</button>
                                <a class="btn btn-danger" href="/shop/addMyShop/{{shopNumber}}">장바구니 넣기</a>
                                <a class="btn btn-primary" onclick="location.href='javascript:history.back()'">돌아가기</a>
                            </div>
                        </form>
                    {{/check}}
                </div>
                {{/shop}}
            </div>
            <div class="col-3"></div>
        </div>

    </div>

    <br>
</body>
</html>