{{>layout/header}}
<!-- Title -->

<div class="text-center">
    <h1 class="display-1 mt-5">Shop</h1>
</div>
<!-- End Title-->

<!-- Card -->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 text-center">
                <div class="card" style="width: 18rem;">
                    <img src="/img/555.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="/shop/getShop" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col mb-5 text-center">
                <div class="card" style="width: 18rem;">
                    <img src="img/aaa.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col mb-5 text-center">
                <div class="card" style="width: 18rem;">
                    <img src="https://cdn.pixabay.com/photo/2020/04/28/19/36/heart-5106075_960_720.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-success" href="/shop/upload">새글 등록하기</a>
    </div>
</section>

<br>
<br>
<br>
<br>
<br>
<br>
<!-- End Card -->

</body>
</html>