{{>layout/header}}
<!-- Title -->

<br><br><br><br><br>
<div class="text-center">
    <h1>쇼핑몰</h1>
</div>
<!-- End Title-->

<!-- Card -->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {{#shop}}
                <div class="col mb-5 text-center">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/{{id}}/{{fileUuid}}" class="card-img-top" alt="..."
                             style="max-width: 100%; height: 250px;">
                        <div class="card-body">
                            <h5 class="card-title">{{shopTitle}}</h5>
                            <p class="card-text">판매가격 : {{shopPrice}}원</p>
                            <a href="/shop/getShop/{{shopNumber}}" class="btn btn-primary">상세 보기</a>
                        </div>
                    </div>
                </div>
            {{/shop}}
            {{^shop}}
                <div class="col mb-5 text-center">
                    등록된 상품이 없습니다
                </div>
            {{/shop}}
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <a class="btn btn-primary" href="/shop/myShop">장바구니</a>
                    <a class="btn btn-danger" href="/shop/buyCheckPage">구매한 상품 목록</a>
                </div>
            </div>
        </div>
</section>


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {{#page}}
            {{#start}}
                <li class="page-item">
                    <a class="page-link" href="#" tabindex="-1">이전</a>
                </li>
            {{/start}}
            <li class="page-item"><a class="page-link"
                                     href="/shop/main?page={{pageNum}}
                ">{{pageView}}</a></li>

            <li class="page-item">
                <a class="page-link" href="#">다음</a>
            </li>
        {{/page}}

    </ul>
</nav>

<br>
<br>
<br>
<br>
<br>
<br>
<!-- End Card -->

</body>
</html>