{{>layout/header}}
<!-- Title -->

<div class="text-center">
    <h1 class="display-1 mt-5">Shop</h1>
</div>
<!-- End Title-->

<!-- Card -->

<form action="/shop/upload" method="post" enctype="multipart/form-data">

    <input type="file" name="file" value="파일 업로드">
    <input type="submit" value="전송">
</form>

<br>
<br>
<br>
<br>
<br>
<br>
<!-- End Card -->

</body>
</html>